/* Unversal */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Common Container */
.container{
    max-width: 1350px;
    margin: auto;
}

/* Common Button */
.common-btn{
    background-color: #1d4ed8;
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    border: 1px solid #1d4ed8;
    border-radius: 15px;
    cursor: pointer;
}

/* Navbar Style*/
#nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

#nav-list ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #575757;
}

/* Hero Style */
.hero-container img{
    width: 100%;
    height: 780px;
    object-fit: cover;
}

.hero-container {
    position: relative;
}

.hero-root {
    position: absolute;
    inset: 0;              /*top: 0 right: 0 bottom:0 left: 0*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-root h2{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-root p{
    font-size: 24px;
    max-width: 800px;
    line-height: 1.5;
    margin-bottom: 300px;
}

.hero-root button{
    font-size: 30px;
}

.section-header{
    text-align: center;
    padding: 45px;
    font-size: 40px;
}



.speakers-root.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.speakers-root .position{
    color: #1d4ed8;
    margin: 20px;
}

.speakers-root .name{
    font-size: 25px;
    margin: 20px;
}

.speakers-root .corporate{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.card{
    background-color: #e5e7eb;
    border: 1px;
    border-radius: 10px;
}

.card img{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: none;
    border-radius: 10px;
}