/* Unversal */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Common Container */
.container{
    max-width: 1500px;
    margin: auto;
}

/* Common Button */
.common-btn{
    background-color: #1d4ed8;
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    border: 1px solid #1d4ed8;
    border-radius: 15px;
    cursor: pointer;
}

/* Navbar Style*/
#nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

#nav-list ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #575757;
}

/* Hero Style */
.hero-container img{
    width: 100%;
    height: 780px;
    object-fit: cover;
}

.hero-container {
    position: relative;
}

.hero-root {
    position: absolute;
    inset: 0;              /*top: 0 right: 0 bottom:0 left: 0*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-root h2{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-root p{
    font-size: 24px;
    max-width: 800px;
    line-height: 1.5;
    margin-bottom: 300px;
}

.hero-root button{
    font-size: 30px;
}

/* Every section header */
.section-header{
    /* background-color: #1d4ed8; */
    text-align: center;
    padding: 45px 45px 0 45px;
    font-size: 40px;
}


/* Speakers style */
.speakers-root.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 70px 150px;
}


.speakers-root .position{
    color: #1d4ed8;
    margin: 20px;
}

.speakers-root .name{
    font-size: 25px;
    margin: 20px;
}

.speakers-root .corporate{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.speaker-card{
    background-color: #e5e7eb;
    border: 1px;
    border-radius: 10px;
}

.speaker-card img{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: none;
    border-radius: 10px;
}

/* Price style */
.text{
    text-align: center;
    padding: 8px 15px;
}

.price-container.container{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:30px 20px;
}

.price-card{
    width:300px;
    border: 1px solid #888888;
    border-radius:12px;
    padding:25px;
    display:flex;
    flex-direction:column;
}

.price-card h3{
    font-size:13px;
    letter-spacing:1px;
    color:#888888;
    margin-bottom:10px;
}

.price-card h2{
    font-size:46px;
    /* color:#0f172a; */
    margin-bottom:5px;
}

.price-card p{
    font-size:14px;
    margin-bottom:20px;
    color: #888888;
}

.price-card hr{
    border:none;
    border-top:1px solid #e5e7eb;
    margin-bottom:20px;
}

.price-card ul{
    list-style: none;
    flex:1;
}

.price-card ul li{
    position:relative;
    padding-left:18px;
    margin-bottom:15px;
    font-size:15px;
}

.price-card ul li::before{
    content:"•";
    color:#2563eb;
    position:absolute;
    left:0;
    font-size:20px;
    top:-2px;
}

.price-card button{
    margin-top:20px;
    padding:13px;
    border:2px solid #2563eb;
    background-color: white;
    color:#2563eb;
    font-weight:600;
    border-radius:8px;
    cursor:pointer;
}

.price-card button:hover{
    background-color:#2563eb;
    color: white;
}

.price-container .middle-card{
    background-color: #172b40;
    color: white;
}

.price-container .middle-card button{
    background-color: #2563eb;
    color: white;
}